@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  --main-color: #fff;
  --text-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.247);
}
.App {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/warm.jpg");
  background-size: cover;
}

.App.Mist {
  background-image: url("assets/mist.jpg");
}

.App.Rain {
  background-image: url("assets/umbrella4.jpg");
}

.App.Clear {
  background-image: url("assets/clear.jpg");
}

.App.Haze {
  background-image: url("assets/haze.jpeg");
}

.App.Clouds {
  background-image: url("assets/clouds2.jpg");
}

.main {
  padding: 2em 2rem;

  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0.2),
    rgb(0, 0, 0, 0.75)
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main .search-box {
  width: 70%;
  /* margin: 0 auto; */
  height: 8rem;
  margin-top: -2rem;
  position: absolute;
  top: 0;
}

.search-box form {
  width: 100%;
  height: 100%;
}

.search-bar {
  width: 100%;
  height: 100%;
  border: none;
  appearance: none;
  outline: none;
  padding: 0 2rem;
  padding-top: 2rem;
  border-radius: 0 0 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(36, 34, 34);
  transition: all 0.3s ease;
  box-shadow: 0 0.5rem rgb(red, green, blue, 0.2);
  display: flex;
  font-size: 2rem;
  text-align: center;
}

.search-bar:focus {
  background-color: #fff;
}

.location-box {
  text-align: center;
  color: var(--main-color);
  margin: 3rem 0;
}

.location-box .location {
  font-size: 3.3rem;
  margin-bottom: 1rem;
  text-shadow: var(--text-shadow);
}

.location-box .date {
  font-size: 1.8rem;
  text-shadow: var(--text-shadow);
}

.weather-box .temp {
  font-size: 4.5rem;
  color: var(--main-color);
  background-color: rgba(255, 255, 255, 0.137);
  width: 24rem;
  text-align: center;
  /* margin: 0 auto; */
  padding: 1rem;
  box-shadow: 0.2rem 0.3rem rgba(0, 0, 0, 0.247);
  border-radius: 1rem;
}

.weather-box .weather {
  color: var(--main-color);
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  text-shadow: var(--text-shadow);
}
